.wrapper {
    min-height: 100vh;
    width: 100vw;
    background-color: #f7f3e9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}

.right {
    flex: 1;
}

.left {
    flex: 2;
    height: 30em;
    border-radius: 10px;
    padding: 5em;
    margin-right: 5em;
    background-color: #f7f3e9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.featureList {
    margin-top: 2em;
}

.feature {
    font-size: 1.25em;
    font-weight: bold;
    color: #5eaaa8;
}

.feature:not(:last-child) {
    margin-bottom: 1em;
}

.form {
    background-color: #5eaaa8;
    border-radius: 10px;
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30em;
}

.buttonPrimary {
    cursor: pointer;
    text-align: center;
    padding: 0.5em 0;
    background-color: #f05945;
    border-radius: 5px;
    font-weight: bold;
    color: #f7f3e9;
    margin-bottom: 1em;
}

.buttonSecondary {
    cursor: pointer;
    text-align: center;
    padding: 0.5em 0;
    background-color: #f7f3e9;
    border-radius: 5px;
    font-weight: bold;
    color: #f05945;
}

* {
    font-family: "Montserrat", sans-serif;
}

.h1 {
    font-size: 1.5em;
}

.label {
    font-weight: bold;
}

.input {
    margin-bottom: 1em;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        padding: 1em;
        flex-direction: column;
        margin: 0 auto;
    }

    .left {
        margin: 0 auto;
        padding: 1em;
        margin-bottom: 2em;
    }

    .form {
        padding: 3em;
        width: 100%;
        margin: 0;
    }
}
