:root {
  --orange: #f05945;
  --vert: #5eaaa8;
  --vert-light: #aae2e065;
  --beige: #f7f3e9;
  --white: #ffffff;
  --black:#000000;
  --vert-dark:#426160;
}
.btn-send {
  background-color: var(--white) !important;
  border: 1px solid var(--orange) ;
  border-radius: 25px !important;
  padding: 15px;
  margin-left: 5px;
 
}
.btn-send:focus { 
    box-shadow:0 0 5px var(--orange) ;
    border: 1px solid var(--orange) ;
}
.btn-send:disabled { 
    border: 1px solid var(--orange) ;
}
.btn-send:hover{
    background-color: var(--orange) !important;
    border: 1px solid var(--orange) ;
    padding: 15px;
    margin-left: 5px;
    box-shadow: 1px 1px 10px var(--orange);
}
.btn-send:hover .btn-send-icon{
    color: var(--white);
}
.btn-send-icon{
    size: 70px !important;
    color: var(--orange);
}

.messageInput{
    border-color:var(--orange) !important;
    border-radius: 25px !important ;
}
.messageInput:focus {
  box-shadow:0 0 5px var(--orange) ;
  
}


.messageFrameStart{
    border-radius: 15px !important;
    border: 1px solid var(--vert) !important;
    border-radius: 0px 15px  15px 15px  !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.messageFrameEnd{
    background-color: var(--vert) !important;
    border-radius: 15px 0px 15px 15px  !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.createdAt{
    font-weight: 100;
    font-size: 12px !important;
}

.text-muted{
    color:var(--black) 50% !important;
    font-weight: 100;
    margin: 0rem 0.5rem 0rem 0.5rem;
    opacity:0.7
}




.listOfFriends{
    background-color: var(--white);
    border-radius: 0px 50px 50px 0px !important;
    border: 0.02em solid var(--vert) !important;
    width: 90%;
    align-self: flex-start;
}
.listOfFriends:hover{
    background-color: var(--vert-light);
    border-radius: 0px 50px 50px 0px !important;
    border: 1px solid var(--vert) !important;
    width: 95%;    
}

.listOfFriends:active ,  .list-group-item.active ,.listOfFriends:focus {
    background-color: var(--vert-light) !important ;
    border-radius: 0px 50px 50px 0px !important;
    border: 1px solid var(--vert) !important;
    width: 100%; 
    color: var(--black); 
} 

.onlineDotGreen{
    background-color: rgb(0, 255, 0);;
    width: 10px !important;
    height: 10px !important;
    position: absolute;
    border-radius: 50px !important;
    left: 60%;
    bottom: 0px;
}
.onlineDotRed{
    background-color: red;
    width: 10px !important;
    height: 10px !important;
    position: absolute;
    border-radius: 50px !important;
    left: 60%;
    bottom: 0px;
}

/* ---------------------------------------------------------------------*/

.TabContent{
    /* background-color: aqua; */
    border-radius: 0px 25px 25px 0px !important;
}
.NavTab{
    border:none;
}
.NavLink{
    
    border-radius: 10px 10px 0px   0px !important;
    background-color: var(--vert-dark) !important;
    color: var(--white) !important;
    position: relative;
}


.NavLink:after {
    content: "";
    position: absolute;

    height: 10px;
    width: 20px;
  

    bottom: 0;
}
.NavLink:after {
    right: -20px;

    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;

    -webkit-box-shadow: -10px 0 0 0 var(--vert-dark);
    box-shadow: -10px 0 0 0 var(--vert-dark);
}






