.grid-containerPost {
    display: grid;
    grid-gap: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 10%;
  }
.grid-itemPost {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    padding-right: 0%;
    font-size: 30px;
  }
  
  .itemPostUser {
    grid-column: 1 ;
    grid-row: 1;
    padding-left: 24%;
    text-align: left;
  }
  .usernamePost > a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .postDate{
    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
    line-height: 17px;
    color: #5EAAA8;
  }
  
  
  .itemPost2 {
    grid-column: 2 / span 3;
    grid-row: 1;
    text-align: left;
    background: #F7F3E9;
    margin-top: 5%;
    border-radius: 10px;
    margin-left: 5%;
  }
  .textPosted{
    margin-top: 5%;
    margin-left: 3%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  .imgPosted{
    margin-top: 5%;
    border-radius: 10px;
    text-align: center;
}
.ImgResponsive{
  width: 100%;
  height: auto;
}
.itemPost3 {
    grid-column: 1 / span 3;
    grid-row: 3;
    text-align: left;
  }
.BtnPost{
    margin-left: 10%;
    
}

.grid-containerComment {
  display: grid;
  grid-gap: 1px;
  padding: 5px;
}

.grid-itemComment {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 10px;
  font-size: 30px;
  padding-left: 0%;
  padding-right: 0%;
}

.itemComment1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: left;

}
.CommentInput{
  background: #E5E5E5;
  border-radius: 10px;
  
}
.CommentInput::placeholder{
  font-size: 16px;
}

.itemComment2 {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
}
@media only screen and (max-width: 500px) {
  .grid-containerPost{
    width: 190px;
  }
  .grid-containerComment{
    width: 190px;
  }
  .itemPost2{
    width: 170px;
  }
  .grid-itemComment{
    width: 190px;
  }
  .CommentInput{
    width: 190px;
  }
  .itemComment2{
    width: 250px;
  }
}



