@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
    background-color: #e5e5e5;
}
html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.loading {
    width: 100vw;
    height: 100vh;
    color: #f05945;
    background-color: #f7f3e9;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
